@import "lib/normalize-scss/normalize";

/*!
 Basic iOS 7 CSS
 https://github.com/hbang/iOS-7-CSS

 HASHBANG Productions <http://hbang.ws>
 Apache License 2.0 <https://www.apache.org/licenses/LICENSE-2.0.html>
 UI design copyright Apple Inc.
*/

$fontstack-text: -apple-system, -apple-system-font, ".SFNSDisplay-Regular", ".Helvetica NeueUI", "Helvetica Neue", sans-serif !default;
$fontstack-heading: -apple-system, -apple-system-font, ".SFNSDisplay-Medium", ".Helvetica NeueUI", "Helvetica Neue", sans-serif !default;

$portrait-width: 708px !default;
$landscape-width: 964px !default;
$iphone-4-portrait-width: 320px !default;

$tint-color: #007aff !default;
$bg-color: #efeff4 !default;
$header-bg-color: rgba(249, 249, 249, .85) !default;
$list-bg-color: #fff !default;
$footer-color: #6d6d72 !default;

$border-color: rgba(0, 0, 0, .1) !default;
$header-border-color: rgba(0, 0, 0, .1) !default;
$border-color-subpixel: rgba(0, 0, 0, .2) !default;
$header-border-color-subpixel: rgba(0, 0, 0, .32) !default;

iframe {
	border: 0;
}

a, button {
	color: $tint-color;
	text-decoration: none;
}

button {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
}


html {
	background: $bg-color;

	.depiction {
		background: transparent;
	}
}

body {
	font: 17px/1.45em $fontstack-text;
	font: -apple-system-body;
	margin: 80px 0 35px 0;

	.cydia & {
		margin-top: 35px;
	}

	.depiction & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#content {
	@media (min-width: $portrait-width) {
		width: $portrait-width;
		margin: 0 auto;
	}

	@media (min-width: $landscape-width) {
		width: $landscape-width;
	}
}


h2, body > p, p[role="footer"] {
	margin: 15px;
	color: $footer-color;
	font-size: 14px;
	font-weight: 400;

	@media (min-width: $portrait-width) {
		margin-left: 0;
		margin-right: 0;
	}
}

h2 {
	text-transform: uppercase;
	margin-bottom: 5px;

	a {
		color: inherit;

		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}
}

hr {
	border: 0;
	border-top: 1px solid $border-color;
}


body > header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	z-index: 10;
	background: $header-bg-color;
	border-bottom: 1px solid $header-border-color;
	-webkit-backdrop-filter: blur(20px);

	.has-subpixel & {
		border-bottom: .5px solid $header-border-color-subpixel;
	}

	.cydia & {
		display: none;
	}

	.cydia & + p {
		margin-top: -20px;
	}

	h1 {
		margin: 0;
		text-align: center;

		font-family: $fontstack-heading;
		font-weight: 500;
		font: -apple-system-headline;
		font-size: 18px;
		line-height: 44px;
	}
}

ul {
	margin: 5px 0 35px 0;
	padding: 0;
	list-style: none;
	background: $list-bg-color;

	&:before, &:after {
		content: "";
		display: block;
		height: 1px;
		background: $border-color;

		.has-subpixel & {
			height: .5px;
			background: $border-color-subpixel;
		}

		@media (min-width: $portrait-width) {
			display: none;
		}
	}

	li {
		border-bottom: 1px solid $border-color;
		margin-left: 15px;
		padding: 13px 15px 13px 0;

		.has-subpixel & {
			border-bottom: .5px solid $border-color-subpixel;
		}

		&:last-child {
			border-bottom: 0;
		}

		p, [role=link], [role=button] {
			padding: 13px 15px;
			margin: -13px -15px;

			+ p {
				padding-top: 0;
				margin-top: 0;
			}
		}

		[role=link], [role=button] {
			display: block;
			color: $tint-color;
			padding-right: 30px;

			position: relative;
			z-index: 2;

			&:after {
				content: "";
				display: block;
				background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI5OSI+PHBvbHlnb24gcG9pbnRzPSIzNC43LDQ5LjcgMCw4NC40IDE1LjEsOTkuNSA2NC44LDQ5LjcgNDkuNywzNC43IDE1LjEsMCAwLDE1LjEiIHN0eWxlPSJmaWxsOiNjN2M3Y2MiLz48L3N2Zz4=");

				position: absolute;
				top: 50%;
				right: 15px;
				width: 10px;
				height: 13px;
				margin-top: -7px;
				background-size: 100% 100%;
			}
		}

		> button {
			font: inherit;
			width: 100%;
			text-align: left;
		}

		.pull-in {
			vertical-align: top;

			@media (max-width: $iphone-4-portrait-width + 1) {
				margin: -13px -15px;
			}
		}
	}

	+ p, + [role=footer] {
		margin-top: -25px;
	}
}
